/*
====================================================================================================================================================================
                                                    Start Contact Page
====================================================================================================================================================================
*/

form{
    margin-left: 15px;
    width: 400px;
    font-family: cursive;
    transition: 500ms;
    margin-bottom: 200px;

}
input:hover,textarea:hover{
    box-shadow: 2px 2px 3px black;
}
#button{
    width: 100px;
    height: 30px;
    margin-left: 0px;
    background-color:  #172035;
    font-size: 150%;
    color: white;
    border: solid 2px #172035;
    transition: 300ms;
    font-family: monospace;
}
input,textarea{
    width: 300px;
}
#button:hover{
    box-shadow: 4px 4px 7px 4px black;
    background-color:skyblue;
    color:black;
    border-radius: 3px;
}
/*
====================================================================================================================================================================
                                                    End Contact Page
====================================================================================================================================================================
*/

