/*
====================================================================================================================================================================
                                                    Start Global Properties
====================================================================================================================================================================
*/
/*---------------header----------------*/
body{
    background-color: #eeeee4;
}
 header nav{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    height: 90px;
    width: 1600px;
    background-color: #172035;
 }
 img#logo1{
     background-color: #172035;
     width: 400px;
     height: 80px;
     grid-column: 1 / 2;
}
 a{
     background-color:#172035;
     text-align: center;
     padding: 30px;
     color: white;
     transition: 500ms;
     text-decoration: none;
 }
 a:hover{
     background-color: lightskyblue;
 }
 /*----------footer---------------*/
 footer{
    display: inline-block;
    height: 70px;
    width: 100%;
    background-color:#172035;
 }
 #logo{
     float: left;
     padding-top: 7px;
 }
 #footer{
     float: right;
     text-align: center;
     margin-right: 550px;
     padding-top: 7px;
     color: white;
 }
/*
====================================================================================================================================================================
                                                    End Global Properties
====================================================================================================================================================================
*/
