/*
====================================================================================================================================================================
                                                    Start Slideshow Properties
====================================================================================================================================================================
*/
section#content{
    text-align: center;
    font-size: 200%;
    margin-top: -900px;
    padding-bottom: 600px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
img#slide{
    z-index: -1;
}
#button1{
    width: 400px;
    height: 90px;
    margin-left: 20px;
    background-color:  #172035;
    font-size: 150%;
    color: white;
    border: solid 2px #172035;
    transition: 300ms;
}
button:hover{
    box-shadow: 4px 4px 7px 4px black;
    background-color:skyblue;
    color:black;
    border-radius: 3px;
}
/*
====================================================================================================================================================================
                                                    End Slideshow Properties
====================================================================================================================================================================
*/
/*
====================================================================================================================================================================
                                                    Start Featured Courses Properties
====================================================================================================================================================================
*/
*{
    box-sizing: border-box;
}
#courses{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
h2 ,h6 {
    font-size: 130%;
}
.course .course2 , .course3{
    margin-left: 6px;
}
.imgs{
    padding-left: 50px;
}
.buttons{
    width: 200px;
    height: 60px;
    background-color:  #172035;
    font-size: 150%;
    color: white;
    border: solid 2px #172035;
    transition: 300ms;
}
div.featured{
    font-family: cursive;
    font-size: 110%;
    animation-duration: 2s;
    animation-name: featureda;
    animation-iteration-count: infinite;
}
@keyframes featureda {
    0% {color:black;}
    50%{color:rgb(129, 129, 3);}
    100%{color:black;}
}
/*
====================================================================================================================================================================
                                                    End Featured Courses Properties
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start About Section Properties
====================================================================================================================================================================
*/
section#about{
    height: 400px;
    width:100%;
    background-color: #252525;
    color:white;
}
div.grid-container{
    margin-left: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 150%;
}
.students,.reviews,.courses,.hours{
    margin-top: 40px;
    height:200px;
    width: 250px;
    background-color:  #172035;
    text-align: center;
    border:thistle solid 2px;
    transition: 300ms;
}
.students:hover,.reviews:hover,.courses:hover,.hours:hover{
    box-shadow: 4px 5px 6px black;
}

/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/
#learntech{
    display: flex;
    flex-direction: row;
    margin-left: 180px;
    padding-bottom: 19px;
}
img.imags{
    padding-right: 20px;
}
h1.h1lt{
    font-family: fantasy;
    font-size: 200%;
}
 
/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
