/*
====================================================================================================================================================================
                                                    Start Learn Tech Page
====================================================================================================================================================================
*/#learntech{
    display: flex;
    flex-direction: row;
    margin-left: 180px;
    padding-bottom: 19px;
}
img.imags{
    padding-right: 20px;
}
h1.h1lt{
    font-family: fantasy;
    font-size: 200%;
}
button{
    width: 200px;
    height: 60px;
    background-color:  #172035;
    font-size: 150%;
    color: white;
    border: solid 2px #172035;
    transition: 300ms;
}
button:hover{
    box-shadow: 4px 4px 7px 4px black;
    background-color:skyblue;
    color:black;
    border-radius: 3px;
}
img{
    padding-right: 20px;
}
h1.h1lt{
    font-size: 250%;
    font-family: serif;
}
h2,h6{
    font-size: 110%;
}

/*
====================================================================================================================================================================
                                                    End Learn Tech Page
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/



/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
