/*
====================================================================================================================================================================
                                                    Start Premium Plus Page
====================================================================================================================================================================
*/
#courses{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    font-size: 140%;
    margin-bottom: 13%;
}
.monthly,.annual,.lifetime{
    padding-right: 30px;
    padding-bottom: 20px;
    background-color:darkgrey;
    margin-right: 30px;
    border-radius: 4px;
    border: solid black 2px;
}
button{
    width: 150px;
    height: 40px;
    margin-left: 50px;
    background-color:  #172035;
    font-size: 120%;
    color: white;
    border: solid 2px #172035;
    transition: 300ms;
}
button:hover{
    box-shadow: 4px 4px 7px 4px black;
    background-color:skyblue;
    color:black;
    border-radius: 3px;
}
.title{
    font-style: 'Oswald', sans-serif;
}

/*
====================================================================================================================================================================
                                                    End Premium Plus Page
====================================================================================================================================================================
*/

