/* ---------------------------------- photo --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@600&display=swap');
div.main{
    background-image:url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png");
    height: 3500px;
    width: auto;
}
img.photo{
    border: solid white 3px;
    border-radius: 50%;
    transition: 400ms;
    margin-left: 25%;
    margin-top: 20%;
    height: 200px;
    position: relative;
    left:100px;
}
.photo:hover{
    box-shadow: black 2px 2px 3px;
}
.grid-cont{
    display: grid;
    grid-template-columns: auto auto;

}
div.textphoto{
    margin-top:150px;
    margin-right:50px;
    font-size: 160%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:inherit;

}
div.edu{
    height: 570px;
    width: 90%;
    background-color:#f6f1eb;
    border-radius: 12px;
}
h1.title{
    text-align: center;
    position: relative;
    top:10px;
    font-family: 'Open Sans', sans-serif;
}
/* -------------------------------------------------------------------------- */
/*                                  timeline                                  */
/* -------------------------------------------------------------------------- */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  right:600px;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -200px;
  background-color: #ffc89c;
  border: 4px solid #d27370;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* Place the container to the right */
.right {
  left: 50%;
}
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.right::after {
  left: -16px;
}
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
/* ------------------------------- Experience ------------------------------- */
div.edu1{
    height: 1750px;
    width: 90%;
    background-color:#f6f1eb;
    border-radius: 12px;
}
div.content{
    margin-top: 12px;
    border-radius: 12px;
    transition: 300ms;
}
div.content:hover{
    box-shadow: 3px 3px 3px rgb(252, 210, 158);
}
h3.date{
    color:#bb2100;
    font-style: italic;
}
div.ed2{
    height: 450px;
    width: 90%;
     background-color:#f6f1eb;
    border-radius: 12px;
    padding: 10px 40px;
    position: relative;

}
div.grid-container{
    display: grid;
    grid-template-columns: auto auto auto ;
}
div.grid-1{
    height: 300px;
    width: 300px;
    border-radius: 12px;
    text-align: center;
    background-color: #073763;
    margin-left: 60px;
    margin-top: 20px;
    transition: 500ms;
}
h3.hi3{
    font-size: 200%;
    color: #f3f6f4;
    position: relative;
    top:80px;
}
.grid-1:hover{
   background-color: #3d85c6;
}
/* -------------------------------------------------------------------------- */
/*                                   button                                   */
/* -------------------------------------------------------------------------- */
button.custom-button{
    border-radius: 10px;
    margin-left: 41%;
    height: 40px;
    width: 270px;
    background-color:#cfe2f3 ;
    color:#073763;
    border: #cfe2f3;
    transition: 500ms;
}
.custom-button:hover{
    color:#cfe2f3;
    background-color:#073763 ;
    box-shadow: 3px 3px 3px black;
}
